.player-main {
    width: 100%;
    background: linear-gradient(#363636, #0a0a0a);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icon {
    border: 2px solid white;
    border-radius: 100%;
    padding: 4px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.player-switch-icon {
    border: 2px solid #e0e0e0;
    border-radius: 100%;
    padding: 4px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.player-music-img {
    width: 36px;
    height: 36px;
    background-color: wheat;
    border-radius: 2px;
    margin-left: 24px;
}

.player-info-and-progress {
    width: 28%;
    margin-left: 16px;
    font-size: 12px;
    text-align: left;
}

.player-music-name {
    line-height: 28px;
    color: #e8e8e8;
}

.player-singer-name {
    color: #9b9b9b;
    margin-left: 16px;
}

.player-progress {
    display: flex;
    justify-content: left;
    align-items: center;
}

.player-progress-total {
    height: 8px;
    border-radius: 5px;
    background-color: #181818;
    box-shadow: inset 0px -0.5px 1px 1px rgb(100, 100, 100);
    position: relative;
    flex-grow: 1;
}

.player-progress-current {
    height: 7px;
    border-radius: 5px;
    background-color: #BD0B0B;
    box-shadow: 0px 0.5px 0.5px 1px #ED001D;
    position: absolute;
}

.player-progress-indicator {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    border: 4px solid white;
    background-color: #BD0B0B;
    position: absolute;
    left: -4px;
    top: -2px;
}

.player-progress-text {
    display: inline;
    font-size: 12px;
    color: #797979;
    margin-left: 12px;
}

.player-volume-icon {
    margin-left: 32px;
}

.player-volume-icon {
    margin-left: 32px;
}

.player-play-mode-icon {
    margin-left: 4px;
}

.player-play-list-icon {
    margin-left: 10px;
}